body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

button {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
}

.calculator {
    border-width:1px;
    border-style:solid;
    border-color:black;
    padding: 10px;
}

.btn-number {
    border: 1px solid greenyellow;
}

.btn-number:hover{
    background-color: palegreen;
}


.btn-operator {
    border: 1px solid steelblue;
}

.btn-operator:hover{
    background-color: paleturquoise;
}

.btn-decimal {
    border: 1px solid gold;
}

.btn-decimal:hover {
    background-color: palegoldenrod;
}

.btn-equal {
    border: 1px solid violet;
}

.btn-equal:hover {
    background-color: plum;
}

.btn-clear {
    border: 1px solid red;
}

.btn-clear:hover {
    background-color: red;
}